[Unit]
Description=PiFinder
After=network.target cedar_detect.service
Wants=cedar_detect.service

[Service]
Type=simple
User=pifinder
WorkingDirectory=/home/pifinder
Environment="HOME=/home/pifinder"
Environment="XAUTHORITY=/home/pifinder/.Xauthority"

# Run on the physical console
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Start X and run PiFinder via /home/pifinder/.xinitrc
ExecStart=/usr/bin/xinit /home/pifinder/.xinitrc -- :0 -nolisten tcp vt1

Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
